@inject NavigationManager Nav

<AuthorizeView>
    <Authorized>
        <span class="fw-bold me-3" title="Administrator-meny">
            <i class="bi bi-gear icon-2x"></i>
        </span>
        <NavLink href="/admin" class="admin-nav-link text-black" 
            ActiveClass="admin-active-link" Match="NavLinkMatch.All">
            <i class="bi bi-speedometer"></i> Oversikt
        </NavLink>
    </Authorized>
</AuthorizeView>
<AuthorizeView Roles="SysAdmin,UserAdmin">
    <Authorized>
        <NavLink href="/admin/users" class="@userClasses">
            <i class="bi bi-people"></i> Brukere
        </NavLink>
    </Authorized>
</AuthorizeView>
<AuthorizeView Roles="SysAdmin,RecipeEditor,RecipePublisher">
    <Authorized>
        <NavLink href="/admin/recipes" class="@recipeClasses">
            <i class="bi bi-list-columns-reverse"></i> Oppskrifter
        </NavLink>
    </Authorized>
</AuthorizeView>
<AuthorizeView Roles="SysAdmin,IngredientEditor,IngredientPublisher">
    <Authorized>
        <NavLink href="/admin/ingredients" class="@ingredientClasses">
            <i class="bi bi-egg"></i> Ingredienser
        </NavLink>
    </Authorized>
</AuthorizeView>
<AuthorizeView Roles="SysAdmin,NutrientEditor,NutrientPublisher">
    <Authorized>
        <NavLink href="/admin/nutrients" class="@nutrientClasses">
            <i class="bi bi-heart-pulse"></i> Næringsstoffer
        </NavLink>
    </Authorized>
</AuthorizeView>
<AuthorizeView Roles="SysAdmin,AllergenEditor,AllergenPublisher">
    <Authorized>
        <NavLink href="/admin/allergens" class="@allergenClasses">
            <i class="bi bi-emoji-dizzy"></i> Allergener
        </NavLink>
    </Authorized>
</AuthorizeView>

@code {
    string pageRoute = string.Empty;
    string? userClasses;
    string? recipeClasses;
    string? ingredientClasses;
    string? nutrientClasses;
    string? allergenClasses;

    protected override void OnInitialized()
    {
        pageRoute = Nav.ToBaseRelativePath(Nav.Uri);
        userClasses = $"admin-nav-link text-black{(ActiveClass("admin/users"))}";
        recipeClasses = $"admin-nav-link text-black{(ActiveClass("admin/recipe"))}";
        ingredientClasses = $"admin-nav-link text-black{(ActiveClass("admin/ingredient"))}";
        nutrientClasses = $"admin-nav-link text-black{(ActiveClass("admin/nutrient"))}";
        allergenClasses = $"admin-nav-link text-black{(ActiveClass("admin/allergen"))}";
    }

    private string ActiveClass(string route)
        => pageRoute.Contains(route) ? " admin-active-link" : "";
}
